.srOnly {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}

.introOfBooks {
  max-width: 1700px;
  margin: 0 auto;
  height: 700px;
  transform: translateY(50%);
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

.title p {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 75px;
  font-size: 40px;
  padding-top: 50px;
  font-weight: 700;
}

.subtitle {
  font-size: 17px;
  font-weight: 700;
  color: subTitle;
}

.bestSeller h1 {
  padding-left: 112px;
}

.bestList {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.bestItem {
  width: 200px;
  display: flex;
  text-align: center;
  margin-left: 15px;
}

.bestData {
  display: flex;
  flex-direction: column;
}

.bestData img {
  width: 200px;
  height: 300px;
}

.bestData strong {
  word-wrap: break-word;
}

.mata p {
  margin-top: 0;
}
