@value subTitle, subColor from "../../common/colors.css";

.srOnly {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}

.popBooks {
  height: 1300px;
  background-color: subColor;
  transform: translateY(25%);
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

.title p {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 75px;
  font-size: 55px;
  padding-top: 50px;
  font-weight: 700;
}

.subtitle {
  font-size: 23px;
  font-weight: 700;
  color: subTitle;
}

.bestList {
  max-width: 1700px;
  padding-left: 0;
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.bookBox {
  transition: transform 300ms ease-in-out;
}

.bookBox:hover {
  transform: scale(1.1);
}

.img {
  display: block;
  border-radius: 5px;
  margin-left: 20px;
  margin-bottom: 15px;
  width: 150px;
  height: 200px;
  box-shadow: 3px 2px 0px 0px rgba(248, 247, 247, 0.95);
}
